__pycache__/
build/
Makefile
Makefile.in
configure
*.log
*.swp
*.o
*.orig
config.status
.deps/
install-sh
configure.scan
depcomp
output/
tags
config.guess
config.sub
libtool
ltmain.sh
data
*.so
bhcd.egg-info
git_version.h
pybhcd.c
